<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <!-- Connection settings -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://postgres-sort-save:5432/sortsave</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">sortsavepass</property>

    <!-- SQL dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Print executed SQL to stdout -->
    <property name="show_sql">false</property>

    <property name="hibernate.jdbc.batch_size">200</property>

    <!-- Update database on startup -->
    <property name="hibernate.hbm2ddl.auto">create</property>

    <!-- Annotated entity classes -->
    <!--        <mapping class="com.javacodegeeks.example.Car"/>-->
    <mapping class="com.vojkodrev.dbsaver.SortSaveLine"/>

  </session-factory>
</hibernate-configuration>